<div class="banner">
	<div class="container">
	<div class="banner-bottom">
		<div class="banner-bottom-left">
		
			<img src="https://allaboutautism01.files.wordpress.com/2013/08/couple-after-shopping1.jpg" width="500px" height="350px"> 
		
		</div>
		<div class="banner-bottom-right">
			<div  class="callbacks_container">
					<ul class="rslides" id="slider4">
						<li>
							<div class="banner-info">
								<h3>Inteligente pero Informal</h3>
								<p>Empieza tu compra aquí...</p>
							</div>
						</li>
						<li>
							<div class="banner-info">
							   <h3>Tienda Online</h3>
								<p>Empieza tu compra aquí...</p>
							</div>
						</li>
						<li>
							<div class="banner-info">
							  <h3>Haz tus compras</h3>
								<p>Empieza tu compra aquí...</p>
							</div>								
						</li>
					</ul>
			</div>
						<!--banner-->
		  			
				 
		</div>
	
	<div class="clearfix"> </div>
</div>
	<div class="shop">
		<p></p>
		<a href="/productos">Colección de la tienda</a>
	</div>
	</div>
</div>
