<%@articles.each do |product| %>
<div class="col-md-4 product simpleCart_shelfItem text-center">			
		<div class="flexslider">
			<ul class="slides">
			<%= image_tag product.imagen%>
			</ul>
		</div>
		<div class="mask">
			<%= link_to "Vista Rápida", product %>
		</div>
		<div>
			<p><a class="product_name" href="single.html"><%=product.referencia%></a></p>
		</div>
		<p><a class="item_add" href="#"><i></i> <span class="item_price">$<%=product.precio%></span></a></p>
</div>
<%end%>	