/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1{

}

.texto_resaltado{
	font-size: 30px;
	font-weight: bold;

}
.boton_largo{
	height: 28pt;
	width: 122pt;
	  background: #816263;
	  font-size: 17pt;
	  color: black;
}

.boton_largo:hover{
	transform: scale(1.4);
}

.input_text1{
	width: 48%;
    color: black;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 15px;
    padding: 10px 10px;
    border: 1px solid #E4E4E4;
    outline: none;
    font-family: 'Lato-Regular';
    text-align: left;
}
.input_text2{
	width: 89%;
    color: black;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 15px;
    padding: 10px 10px;
    border: 1px solid #E4E4E4;
    outline: none;
    font-family: 'Lato-Regular';
    text-align: left;
}

.input_text3{
	width: 250pt;
    color: black;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 15px;
    padding: 10px 10px;
    border: 1px solid #E4E4E4;
    outline: none;
    font-family: 'Lato-Regular';
    text-align: left;
}

.input_text1:hover{
	transform: scale(1.4);
}

.zoom:hover{
	transform: scale(1.4);
}

.zoom1:hover{
	transform: scale(1.1);
}